{{ define "Footer" }}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.ckeditor.com/4.20.1/basic/ckeditor.js"></script>
<script>
  CKEDITOR.replace('txtContent', {
    "height": 300,
  });

  $(document).ready(function () {
      $('#example').DataTable({
            order: [[ 1, 'desc' ]],
            columnDefs: [{ "orderable": false, "targets": [2, 3] }]
      });
  });
</script>
</body>

</html>
{{ end }}
